@import url('../../index.css');

.navbar {
  background-color: var(--color-background);
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-right: 1rem;
}

.navbar-link {
  font-family: var(--font-primary);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-normal);
  color: var(--color-text);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar-link:hover,
.navbar-link.active {
  background-color: var(--color-bar);
}

.navbar-image {
  max-height: 5rem;
  padding: 0.5rem 1rem;
}

.navbar-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--color-text);
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-container {
    justify-content: space-between;
  }
  .navbar-link {
    font-size: var(--font-size-normal);
  }
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 35%;
    position: absolute;
    top: 60%;
    right: 0;
    background-color: var(--color-background);
    text-align: center;
    padding: 1rem 0;
  }
  .navbar-menu.open {
    display: flex;
  }
  .navbar-item {
    margin: 0;
    padding: 1rem 0;
  }
  .navbar-toggle {
    display: block;
  }
}
/* @import url('../../index.css');

.navbar {
  background-color: var(--color-background);
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-right: 1rem;
}

.navbar-link {
  font-family: var(--font-primary);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-normal);
  color: var(--color-text);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar-link:hover,
.navbar-link.active {
  background-color: var(--color-bar);
}

.navbar-image {
  max-height: 5rem;
}

.navbar-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--color-text);
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-background);
    text-align: center;
    padding: 1rem 0;
  }
  .navbar-menu.open {
    display: flex;
  }
  .navbar-item {
    margin: 0;
    padding: 1rem 0;
  }
  .navbar-toggle {
    display: block;
  }
} */
